In [ ]:
"""Basics of python:
   python Syntax overview:
   In genrally python does not have any basic format to follow like in the other languages like c,c++,java.
   basically in python first we'll do variable initalisation and write the following code.
   As we all ready know that python is very easy to write the code and easy to understand the code.
   in python we'll write the code with silmple english sentences or words."""

In [ ]:
""" comments:
    comments are used to provide the additional information about the code.
    by using the cooments the people who does not have any idea about the code also can easily understand about the code.
    In python the comments can be represented by using the "#".
    If we represent any sentence with "#" infront of the line then the python interpreter can consider that sentence as a comment and it will ignore the
    execution of the sentence.
    In the python there are mainly two types of commands are there. They are:
    1.single line comment.
    2.multiple line comment.
    
    1.sinlge line comment:
       The single line comments can be represented by using the "#" in sentence starting
    2. Multiple line comments:
       In python by default there is no multiple line comments by we can create the multiple line comments by placing the "#" infront of each and every line.
       and we can also create the multiple line comment by using the """ ""","""""" """""".""""

In [1]:
#exampke for single line comment
a=10 # a is a variable we are assigning the 10 into the variable a.
print(a)

10

In [2]:
# multiple line comments
#these is an example for multiple line comments.
a,b=10,30
print(a+b)

40

In [3]:
""" these is the another way of creating the multiple line comments.
    we can use two ways to create the multiple line comments"""
a,b,c=10,20,30
print(a)
print(b)
print(c)

10
20
30

In [5]:
# topic-2:
#vriable decleration:
"""variable:
    variable is a container where we can stroes the value temporarly"""
a=10 # In these eample  a is a variable the holds the value 10
print(a)

"""rules for naming the variables:
   1.the variable name can be in the combination of alphabets,digits,symbols,etc..
   2.the first letter must be an alphabets,"_" but it should be starting with the numbers or other special characters.
   3.commas and the spaces are not allowed
   4.keywords cannot be the vriable name
   5.special chtraceters rather then the underscore cannot be used.
   6.variable name cannot be too lenghty
   7.mainly python is a case-sensitive
   ex: "Name" is not as same as "name"
"""
Name="deepthi"
name="dodla"
print(name)

10
dodla

In [7]:
#sub-topic-1:
#multiple words giving as a variable:
"""In python we can also give the multiple words as a variable name:
 1.camel case
 2.pascal case
 3.snake case"""
myVarName="ramesh"#camel case
print(myVarName)
MyVarName="chinnu"#pascal case
print(MyVarName)
My_Var_Name="soumesh"#snake case
print(My_Var_Name)

ramesh
chinnu
soumesh

In [9]:
#sub_topic-2:
#different ways of assigning the values into the variable
"""1.single variable assignment
   2.multiple variable assignment
   3.multi value assignment"""
a=10 #single variable assignment
print(a)
a,b,c=30,50,60 #multi value assignment
print(a)
print(b)
print(c)
a=b=c=10 #multiple variable assignment
print(a)
print(b)
print(c)

10
30
50
60
10
10
10

In [ ]:
#data types 
"""data types will specifies the type of the value that we are assigning to the variable.
   In python we no need to specifies the type of the variable explicitly based on the type of the value that we are assinging to 
   the variable the data type can be assigned automatically.
   so the python is a dynamically typed programming language."""

"""In python there are mainly two types of data types are there.They are:
1.primitive data type:
   primitive data types specifies that the variable can be capable to store a single value at a time.
   The primitive data types are stored in the stack memory 
2.non primitive data type:
    non primitive data types can be capable to sotre multiple values at a time.
    Non primitive data types are stored in the heap memory
there are several data types are there in the python. They are:
1.INT
2.Float
3.string
4.boolean
5.complex
6.list
7.tuple
8.sets
9.dictionary
10.None
11.Range
12.frozenset
13.Bytes
14.Bytearray"""

In [10]:
"""Integer:
  these data type  can be capable to  stores  only the numerical values without any fractional part """
a=10
b=45
print(a,b)

10 45

In [11]:
"""Float:
    these data type  can be capable to  stores   the numerical values along with  fractional part"""
num=10.5
print(num)

10.5

In [15]:
""""String:
      string is the sequence of one or more characters enclosed within the single quote or double quote or triple quotes"""
Name="Manoj"
print(Name)
department='MAC'
print(department)
desc="""these is my python class
I'm very happy to learn the python"""
print(desc)
"""Note:
   In the python 'hello' is as same as "hello" """

Manoj
MAC
these is my python class
I'm very happy to learn the python

'Note:\n   In the python \'hello\' is as same as "hello" '

In [14]:
"""Boolean:
   these data type consists of only two values 
   1.True
   2.Flase"""
print(20>10)
"""note:
   mainly it is used during the conditions"""

True

In [16]:
"""complex:
   these data type can be capable to stroes the real value and imaginary value in the form of a+bj
   "j" represents the imaginary part"""
a=2+3j
print(a)

(2+3j)

In [19]:
"""list:
list are used to stores the collection of items into a single variable at a time.
the list can be represented by using [] and the items inside the list can be seperated by using comma.
In python list are mutable that means once we create the list we can change the list by adding or deleting the values form it.
In python list are ordered and it also allows the duplicate elements inside it.
in the list the elements can be acess by using its index number"""
li=[10,20,30,40]
print(li)
fruits=["mango","orange","apple","banana"]
print(fruits[0])
collection=[10,"chintu","nani",60]
print(collection)

[10, 20, 30, 40]
mango
[10, 'chintu', 'nani', 60]

In [20]:
"""tuples:
tuples are used to stores the collection of items into a single variable at a time.
tuples are almost similar like a list but only the difference is that the tuples are immutable.
the tuples can be represented by using () and the items inside the list can be seperated by using comma.
In python tuples are immutable that means once we create the tuples we cannot change the tuple by adding or deleting the values form it.
In python tuples are ordered and it also allows the duplicate elements inside it.
in the list the elements can be acess by using its index number"""
li=(10,20,30,40)
print(li)
fruits=("mango","orange","apple","banana")
print(fruits[0])
collection=(10,"chintu","nani",60)
print(collection)

(10, 20, 30, 40)
mango
(10, 'chintu', 'nani', 60)

In [21]:
"""sets:
   sets are used to stores the collection of items into a single variable at a time.
   the sets can be represented by using {} and the items inside the list can be seperated by using comma.
   In python sets are mutable that means once we create the list we can change the list by adding or deleting the values form it.
   sets are mainly unordered and non duplicated that means the sets does not contain the particular order 
   and also the sets does not allows the duplicated elements"""
set1={10,20,30,40}
print(set1)
set2={60,50,50,50,50,10,20}
print(set2)

{40, 10, 20, 30}
{50, 10, 60, 20}

In [23]:
"""Dictionary:
   dictionary is used to stroes the collections of items into the single variable at time.
   it is used mainly when we want to stores the data values long with it keys.
   In the dictionary the data can be stored in the form of the key-value pair each key value can be separted by using the ":" and each and every 
   value pair can be seperated by using the ",".
   In python dictionary are mutable that means once we create the dictionary we can change the dictionary by adding or deleting the values form it.
   the dictionary is ordered and also in the dictionary the values are  duplicated but keys are non duplicated."""
dict1={"s_no":1,"name":"chintu","roll_no":33}
print(dict1["name"])

chintu

In [24]:
#none
"""None represents an empty value"""
a=None
print(a)

None

In [27]:
#range
"""range is used to get the sequence of elements .
   the range method consists of mainly three parameters.
   start,end,step
   start will specifies from which element onwards it has to start.by default the start will be "0".
   end will specifies upto which element it has to get the sequence of elements.
   step will specifies how many numbers it has to increment at each time."""


"""syntax: range(start,end,step)"""
print(list(range(1,10,2)))
print(range(6))

[1, 3, 5, 7, 9]
range(0, 6)

In [28]:
"""bytes:
   bytes are used to get the values in byte formatte .bytes data type can capable to store upto 255 not more than that.
   bytes are immutable that means once we created we cannot change it"""
print(bytes(5))

b'\x00\x00\x00\x00\x00'

In [29]:
a=[10,30,50,67,78]
print(bytes(a))

b'\n\x1e2CN'

In [30]:
a=[20,45,56,34,78]
for i in a:
    print(bytes(a))

b'\x14-8"N'
b'\x14-8"N'
b'\x14-8"N'
b'\x14-8"N'
b'\x14-8"N'

In [32]:
"""bytearray:
   bytes are used to get the values in byte formatte .bytes data type can capable to store upto 255 not more than that.
   bytes and bytearray both are similar but only the difference is bytearray is mutable.
   bytearry are mutable that means once we created we can change it"""
print(bytearray(5))
a=[10,30,50,67,78]
print(bytearray(a))
a=[20,45,56,34,78]
for i in a:
    print(bytearray(a))

bytearray(b'\x00\x00\x00\x00\x00')
bytearray(b'\n\x1e2CN')
bytearray(b'\x14-8"N')
bytearray(b'\x14-8"N')
bytearray(b'\x14-8"N')
bytearray(b'\x14-8"N')
bytearray(b'\x14-8"N')

In [33]:
"""frozenset:
forzenset is almost similar to the set but only the difference is frozenset is immutable that mean once it is created we cannot change it"""
a=frozenset({20,40,50,60})
print(a)

frozenset({40, 50, 20, 60})