In [ ]:
"""Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to
work with the structure of the data."""

In [28]:
"""Tasks To Be Performed:
1. Create a list named ‘myList’ that has the following elements: 10, 20, 30,
‘apple’, True, 8.10:
a. Now in the ‘myList’, append these values: 30, 40
b.After that, reverse the elements of the ‘myList’ and store that in
‘reversedList’"""
mylist=[10,20,30,"apple",True,8.10]
print(mylist)
mylist.append(30)
mylist.append(40)
print(mylist)
#mylist.extend([30,40])
#print(mylist)
li1=map(str,mylist)
print(sorted(li1,reverse=True))

[10, 20, 30, 'apple', True, 8.1]
[10, 20, 30, 'apple', True, 8.1, 30, 40]
['apple', 'True', '8.1', '40', '30', '30', '20', '10']

In [32]:
"""2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’,
‘information’ and ‘text’:
a. After that, eliminate the ‘text’ value from the dictionary
b. Add ‘features’ in the dictionary
c. Fetch the ‘data’ element from the dictionary and display it in the output"""
dict1={1:"data",2:"information",3:"text"}
print(dict1)
dict1.pop(3)
print(dict1)
dict1[3]="features"
print(dict1)
print(dict1[1])

{1: 'data', 2: 'information', 3: 'text'}
{1: 'data', 2: 'information'}
{1: 'data', 2: 'information', 3: 'features'}
data

In [37]:
"""3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple."""
my_tuple=(1,2,3,"apple","mango")
print(my_tuple)

(1, 2, 3, 'apple', 'mango')

In [41]:
"""4. Create another tuple named numeric_tuple consisting of only integer
values 10, 20, 30, 40, 50:
a. Find the minimum value from the numeric_tuple
b. Concatenate my_tuple with numeric_tuple and store the result in r1
c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’"""
numeric_tuple=(10,20,30,40,50)
print(min(numeric_tuple))
r1=my_tuple+numeric_tuple
print(r1)
newdupli=my_tuple*2
print(newdupli)

10
(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [44]:
"""5. Create 2 sets with the names set1 and set2, where set1 contains
{1,2,3,4,5} and set2 contains {2,3,7,6,1}
Perform the below operation:
a. set1 union set2
b. set1 intersection set2
c. set1 difference set2"""
set1={1,2,3,4,5}
set2={2,3,7,6,1}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4, 5}